@charset "utf-8";

@import url("https://theme.dfc.databasew.top/Forest.min.css");
@import url("https://scp-wiki-cn.wdfiles.com/local--code/theme%3Abasalt/1");
@import url("https://fonts.googleapis.cn/css2?family=Barlow:ital@400;700&display=swap");
@import url("https://fonts.googleapis.cn/css2?family=Saira:wght@400;700&display=swap");

@import url("https://scp-wiki.wdfiles.com/local--code/component:betterfootnotes/1");
@import url("https://scp-wiki-cn.wdfiles.com/local--code/theme%3Abasalt/1");
@import url("https://scp-wiki-cn.wdfiles.com/local--code/theme%3Abasalt/2");
@import url("https://scp-wiki-cn.wdfiles.com/local--code/theme%3Abasalt/5");
@import url("https://scp-wiki-cn.wdfiles.com/local--code/theme%3Abasalt/6");
@import url("https://scp-wiki.wdfiles.com/local--code/component%3Aacs-animation/1");

:root {
	--logo: url("https://themedfc.netlify.app/files/logo.webp") !important;
	--title: "深林文学部管理组" !important;
	--subtitle-size: 0rem !important;
	--title-size: 1.3rem !important;
	--title-text-indent: 60px !important;
	--base-header-height: calc((var(--title-size) + var(--subtitle-size))*1.5 + 0.5rem);
	--header-border-width: 0rem;
	--header-font-primary: var(--UI-font-primary);
	--UI-font-primary: "Saira";
	--basalt-UI-dark-palette: 45, 45, 45;
	--basalt-bright-element-color: 228, 33, 33;
	--basalt-dark-element-color: 203, 77, 77;
	--basalt-primary-color: 3, 3, 3;
	--basalt-secondary-color: 8, 8, 8;
	--basalt-tertiary-color: 30, 30, 30;
	--general-border-color: 40, 40, 40;
	--basalt-main-text-color: 210, 210, 210;
	--basalt-focus-color: var(--basalt-bright-element-color);
	--selection-text-color: var(--basalt-main-text-color);
	--header-background-color: var(--basalt-primary-color);
	--header-title-color: 240, 240, 240;
	--top-bar-dropdown-link-color-hover: var(--basalt-main-text-color);
	--top-bar-link-background-hover: var(--top-bar-link-background-hover-alt);
	--side-bar-link-color-hover: var(--basalt-main-text-color);
	--side-bar-background-color: var(--basalt-primary-color);
	--bottom-area-background-color: var(--basalt-primary-color);
}

#page-content .quint {
	font-family: var(--UI-font);
}

#page-content .metam {
	border: none !important;
	background-color: transparent !important;
}

#page-content .metam,
#page-content .metam :is(th, td) {
	color: transparent !important;
}

.series-nav {
	display: flex;
	margin: 1rem 0;
	padding: .02rem 1rem;
	border-top-right-radius: .67rem;
	border-top-left-radius: .67rem;
	background: rgb(var(--basalt-tertiary-color));
	font-size: 1.2em;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: baseline;
}

.series-nav>* {
	margin: 0 .3em;
}

.end_card {
	padding: 1.25rem 2rem;
	background: linear-gradient(145deg, rgba(var(--basalt-dark-element-color), .5), rgb(var(--basalt-tertiary-color)) 80%);
	text-align: center;
}

#content-wrap {
	background-image: radial-gradient(#1e1e1e 10%, transparent 0);
	background-position: 1px 1px;
	background-size: 16px 16px;
}

#header h1 a span:before {
	letter-spacing: -2px;
	margin-inline: 6px;
}

#main-content>.page-tags>span a {
	background: none !important;
	color: rgb(var(--basalt-main-text-color));
}

#main-content>.page-tags>span a:is(:hover, :focus) {
	box-shadow: none;
	color: rgb(var(--basalt-bright-element-color));
}

#page-title,
.meta-title {
	border-bottom: none;
	color: rgba(var(--basalt-main-text-color), .9);
}

.fncon:before {
	color: rgba(0, 0, 0, .75);
}

.fnnum:hover:after {
	color: #000;
}

::selection {
	background-color: rgba(var(--selection-background-color), .4);
}

#login-status ul a {
	background: transparent;
	color: #d2d2d2 !important;
}

#search-top-box {
	display: none !important;
}

@media (min-width:767px) {
	div[id*=page-options-bottom]>a {
		flex-basis: 6.45rem;
	}
}

.buttons {
	display: inline-block !important;
	width: auto !important;
}

#header h1 a span:after {
	margin-bottom: 0 !important;
	font-weight: 600 !important;
}

.mobile-top-bar>ul>li>a,
.mobile-top-bar>ul>li>ul,
.top-bar>ul>li>a,
.top-bar>ul>li>ul {
	margin-left: 5px !important;
}