@charset "utf-8";

@import url("https://theme.dfcwiki.eu.org/Forest.min.css");

#header {
    background: url('') !important;
}

#header h1,#header h2 {
  margin-left: 5px !important;
}

div#container-wrap {
	background-image: url(https://scpsandboxcn.wikidot.com/local--files/component:theme/body_bg.png);
	background-repeat: repeat-x;
}

#header {
	background-repeat: no-repeat;
}

#search-top-box {
	display: none;
}
