/*
    * 版式 森林 - [2023 Wikidot Theme]
    | * hatoyama_kumiko为适配深林文学部而修改图案和Logo
    | * lestday233为适配深林文学部而删增、编辑代码内容
    * 适用于CC BY-SA 3.0授权协议

    * 改自 SCP Sigma 9 - [2014 Wikidot Theme]
    | * Aelanna为SCP基金会创建
    | * Dr.Devan为SCP基金会编辑
    * 适用于CC BY-SA 3.0授权协议
    
*/


@charset "utf-8";
@import url('https://fonts.googleapis.cn/css2?family=Nanum+Gothic:wght@400;700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

/* COMMON */
#content-wrap {
	position: relative;
	margin: 2em auto 0;
	height: auto !important;
	height: 1500px;
	max-width: 1040px;
	min-height: 1300px;
}

h1,
#page-title {
	margin: 0 0 0.6em;
	padding: 0 0 0.25em;
	color: #007f00;
	font-weight: normal;
}

h1 {
	margin-top: 0.7em;
	padding: 0;
	font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
	margin: 0.5em 0 0.4em;
	padding: 0;
	letter-spacing: 1px;
}

#page-title {
	border-color: #bbb;
}

.meta-title {
	margin: 0 0 0.6em;
	padding: 0 0 0.25em;
	border-bottom: solid 1px #bbb;
	color: #007f00;
	font-weight: normal;
	font-size: 200%;
}

.meta-title p {
	margin: 0;
}

ul {
	list-style: square;
}

li,
p {
	line-height: 141%;
}

a {
	background: transparent;
	color: #080;
	text-decoration: none;
}

a:hover {
	background-color: transparent;
	text-decoration: underline;
}

a.newpage {
	background: transparent;
	color: #c2c160;
	text-decoration: none;
}

.form-control {
	width: 95%;
}

/* GLOBAL WIDTH */
#header,
#top-bar {
	margin: 0 auto;
	width: 90%;
	max-width: 980px;
}

.mobile-top-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
	display: none;
}

body {
	background-color: #fff;
	color: #333;
	font-size: 0.80em;
}

div#container-wrap {
	background: url('https://themedfc.pages.dev/files/body_bg.webp') top left repeat-x;
}

td.name {
	width: 40%;
	word-break: break-all;
}

td.title {
	width: 30%;
}

sup {
	position: relative;
	top: -0.5em;
	vertical-align: top;
}

/* HEADER */
#header {
	position: relative;
	z-index: 10;
	padding-bottom: 22px;
	/* FOR MENU */
	height: 140px;
	background: url('https://themedfc.pages.dev/files/logo.webp') 10px 40px no-repeat;
	background-size: 100px 100px;
}

#search-top-box {
	position: absolute;
	top: 79px;
	right: 9px;
	width: 250px;
	text-align: right;
}

#search-top-box-input {
	padding: 1px 2px;
	border: solid 1px #999;
	border-radius: 5px;
	background-color: #030;
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .5);
	color: #ccc;
}

#search-top-box-input:hover,
#search-top-box-input:focus {
	border: solid 1px #fff;
	background-color: #007f00;
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .8);
	color: #fff;
}

#search-top-box-form input[type="submit"] {
	padding: 2px 5px;
	width: 18%;
	border-radius: 6px;
	background-color: #438043;
	color: #fff;
	font-size: 85%;
	cursor: pointer;
	border: 1.2px solid #d9d9d9;
}

#search-top-box-form input[type=submit]:hover,
#search-top-box-form input[type=submit]:focus {
	border: solid 1px #fff;
	background: linear-gradient(to bottom, #9c9, #696, #363);
	background-color: #007f00;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .8);
	color: #fff;
	text-shadow: 0 0 1px rgba(255, 255, 255, .25);
}

#search-top-box-input {
	display: none;
}

#login-status {
	z-index: 30;
	color: #aaa;
	font-size: 90%;
}

#login-status a {
	background: transparent;
	color: #ddd;
}

#login-status ul a {
	background: transparent;
	color: #080;
}

#account-topbutton {
	background: #ccc;
	color: #080;
}

.printuser img.small {
	margin-right: 1px;
}

#header h1 {
	float: left;
	margin-left: 120px;
	padding: 0;
	max-height: 95px;
}

#header h2 {
	float: left;
	clear: left;
	margin-left: 120px;
	padding: 0;
	max-height: 38px;
	font-size: 105%;
}

#header h1 a {
	display: block;
	margin: 0;
	padding: 80px 0 25px;
	max-height: 0;
	background: transparent;
	color: #eee;
	text-decoration: none;
	text-shadow: 1px 2px 2px #000;
	letter-spacing: 0.9px;
	font-size: 180%;
	font-family: Simhei, Arial, sans-serif;
	line-height: 0px;
}

#header h2 span {
	display: block;
	margin: 0;
	padding: 19px 0;
	max-height: 0;
	color: #f0f0c0;
	font-weight: bold;
	line-height: 0px;
}

/* TOP MENU */
#top-bar {
	position: absolute;
	top: 140px;
	right: auto;
	z-index: 20;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 21px;
	font-size: 90%;
	line-height: 18px;
}

#top-bar ul {
	float: right;
}

#top-bar li {
	margin: 0;
}

#top-bar a {
	background: transparent;
	color: #fff;
}

#top-bar ul li {
	position: relative;
	border: 0;
}

#top-bar ul li ul {
	width: auto;
	border: solid 1px #666;
	border-width: 0 1px 1px 1px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
}

#top-bar ul li a {
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
	max-height: 1px;
	border-right: solid 1px rgba(64, 64, 64, .1);
	border-left: solid 1px rgba(64, 64, 64, .1);
	text-decoration: none;
	line-height: 1px;
}

#top-bar ul li.sfhover a,
#top-bar ul li:hover a {
	border-right: solid 1px rgba(64, 64, 64, 1);
	border-left: solid 1px rgba(64, 64, 64, 1);
	background: #eee;
	color: #177717;
}

#top-bar ul li.sfhover ul li a,
#top-bar ul li:hover ul li a {
	padding-top: 0;
	padding-bottom: 0;
	width: 150px;
	height: auto;
	max-height: none;
	border-width: 0;
	border-top: 1px solid #ddd;
	line-height: 160%;
}

#top-bar ul li.sfhover a:hover,
#top-bar ul li:hover a:hover {
	background: #fff;
	text-decoration: none;
}

#top-bar ul li ul li,
#top-bar ul li ul li.sfhover,
#top-bar ul li ul li:hover {
	border-width: 0;
}

#top-bar ul li ul li a {
	border-width: 0;
}

#top-bar ul li ul a,
#top-bar a:hover {
	color: #177717;
}

.top-bar ul li:last-of-type ul {
	right: 0;
}

#top-bar>.top-bar>ul>li>a,
#top-bar>.mobile-top-bar>ul>li>a {
	font-weight: 700;
}

/* IE7 HACK */
#top-bar ul>li>ul {
	margin-top: -4px;
}

/* SIDE MENU */
#side-bar {
	position: absolute;
	top: .5em;
	left: 2em;
	float: none;
	clear: none;
	display: block;
	padding: 0;
	width: 17em;
	border: none;
	overscroll-behavior: none;
}

#side-bar .side-block {
	margin: 0 auto;
	margin-bottom: 10px !important;
	padding: 10px;
	padding-bottom: 1em;
	border: 1px solid #600;
	border: solid 1px #999999;
	border-radius: 10px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0 1px 4px rgba(102, 0, 0, .5);
}

#side-bar .side-block.newcomer {
	background-color: #f0fff6;
}

#side-bar .side-block.media {
	background-color: #e5e5ff;
}

#side-bar .side-block.admin {
	background-color: #fff0f0;
}

#side-bar .side-block.debug {
	background-color: #e3e3e3;
}

#side-bar .side-area {
	padding: 10px;
}

#side-bar .heading {
	margin-top: 10px;
	margin-bottom: 5px;
	padding-left: 15px;
	border-bottom: solid 1px #600;
	color: #114514;
	font-weight: 700;
	font-size: 8pt;
}

#side-bar p {
	margin: 0;
}

#side-bar .menu-item {
	margin: 2px 0;
}

#side-bar .menu-item.small {
	font-size: 90%;
	/* For sidebar item with smaller text*/
}

#side-bar .menu-item img {
	position: relative;
	bottom: -2px;
	margin-right: 2px;
	width: 13px;
	height: 13px;
	border: 0;
}

#side-bar .menu-item.inactive img {
	opacity: .25;
}

#side-bar .menu-item.inactive a {
	color: #999;
}

#side-bar .menu-item .sub-text {
	color: #666;
	font-size: 80%;
}

#side-bar .collapsible-block-link {
	margin-left: 0;
	font-weight: bold;
}

#side-bar .collapsible-block-unfolded-link {
	border-bottom: solid 1px #600;
}

#side-bar .collapsible-block-unfolded-link .collapsible-block-link {
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 15px;
	color: #600;
	font-size: 8pt;
}

#side-bar .collapsible-block-unfolded-link .collapsible-block-link:hover {
	color: #b01;
	text-decoration: none;
}

#side-bar ul {
	padding: 0 5px;
	list-style-type: none;
}

/* off-canvas */
.close-menu {
	display: none;
}

/* side bar mobile query on their own */
@media (max-width: 767px) {
	#top-bar .open-menu a {
		position: fixed;
		top: .5em;
		left: .5em;
		z-index: 15;
		width: 30px;
		height: 30px;
		border: .2em solid #888;
		border-radius: 3em;
		background-color: #fff;
		color: #888;
		text-align: center;
		font-weight: 700;
		font-size: 30px;
		font-family: 'Nanum Gothic', sans-serif;
		line-height: .9em;
	}

	#top-bar .open-menu a:hover {
		-webkit-box-shadow: 0 0 20px 3px rgba(153, 153, 153, 1);
		box-shadow: 0 0 20px 3px rgba(153, 153, 153, 1);
		text-decoration: none;
	}

	#side-bar {
		position: fixed;
		top: 0;
		left: -25em;
		z-index: 10;
		display: block;
		overflow-y: auto;
		padding: 1em 1em 0;
		width: 17em;
		height: 100%;
		background-color: rgba(131, 209, 131, 0.98);
		-webkit-transition: left .5s ease-in-out .1s;
		-o-transition: left .5s ease-in-out .1s;
		transition: left .5s ease-in-out .1s;
	}

	#side-bar::after {
		position: absolute;
		top: 0;
		width: 0;
		height: 100%;
		background-color: rgba(0, 0, 0, .2);
		content: '';
	}

	#side-bar:target {
		left: 0;
		z-index: 10;
		display: block;
		margin: 0;
		width: 17em;
		border: 1px solid #dedede;
	}

	#side-bar:target .close-menu {
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .3) 1px 1px repeat;
	}
}

/* CONTENT */
#main-content {
	position: relative;
	margin: 0 2em 0 22em;
	padding: 1em;
}

/* ACTUALLY HIDE HIDDEN TAGS */
#main-content .page-tags a[href^='/system:page-tags/tag/_'] {
	display: none;
}

#breadcrumbs {
	margin: -1em 0 1em;
}

.pseudocrumbs {
	margin: -1em 0 1em;
}

/* YUI-TABS */
.yui-navset .yui-content {
	background-color: #f5f5f5;
}

.yui-navset .yui-nav a,
.yui-navset .yui-navset-top .yui-nav a {
	background-color: #d8d8d8;
}

.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav .selected a:focus,
/* no focus effect for selected */
.yui-navset .yui-nav .selected a:hover {
	/* no hover effect for selected */
	background: #080;
	/* selected tab background */
	color: #fff;
}

.yui-navset .yui-nav a:hover,
.yui-navset .yui-nav a:focus {
	background: #83d583;
	text-decoration: none;
}

.yui-navset .yui-nav,
.yui-navset .yui-navset-top .yui-nav {
	border-color: #444;
}

.yui-navset li {
	line-height: normal;
}

/* EDITOR TOOLBAR PANEL */
.wd-editor-toolbar-panel>div>ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* FOOTER */
#footer {
	clear: both;
	margin-top: 15px;
	padding: 3px 10px;
	background: #444;
	color: #bbb;
	font-size: 77%;
}

#footer .options {
	float: right;
	display: block;
	visibility: visible;
	width: 50%;
	text-align: right;
	font-size: 100%;
}

#footer a {
	background: transparent;
	color: #fff;
}

/* SOME NICE BOXES */
div.sexy-box {
	overflow: hidden;
	margin: 7px 4px 12px;
	padding: 0 10px 12px;
	border: 1px solid #ccc;
	background: #eee;
}

div.sexy-box div.image-container img {
	margin: 5px;
	padding: 2px;
	border: 1px solid #999;
}

/* Custom page content classes */
#page-content {
	min-height: 720px;
}

.unmargined>p {
	margin: 0;
	line-height: 100%;
}

.content-panel {
	margin: 10px 0 15px;
	border: solid 1px #888880;
	border-radius: 10px;
	background-color: #999990;
	box-shadow: 3px 3px 6px #bbb;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .5),
		inset 0 1px rgba(255, 255, 255, .3),
		inset 0 10px rgba(255, 255, 255, .2),
		inset 0 10px 20px rgba(255, 255, 255, .25),
		inset 0 -15px 30px rgba(0, 0, 0, .1);
}

.content-panel.standalone {
	background: #fcfdfb;
}

.content-panel.series {
	margin-bottom: 20px;
	padding: 0 20px;
}

.content-panel.centered {
	text-align: center;
}

.content-panel.left-column {
	float: left;
	width: 48%;
}

.content-panel.right-column {
	float: right;
	width: 48%;
}

.content-panel .panel-heading {
	padding: 2px 10px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .35);
	font-weight: bold;
	font-size: 90%;
}

.content-panel .panel-heading>p,
.content-panel .panel-footer>p {
	margin: 0;
}

.content-panel .panel-body {
	padding: 5px 10px;
	background: #fff9f0 bottom repeat-x;
}

.content-panel .panel-footer {
	padding: 1px 10px;
	color: #fffff0;
	text-align: right;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
	font-weight: bold;
	font-size: 80%;
}

.content-panel .panel-footer a {
	color: #fff;
}

.content-panel .content-toc {
	float: right;
	margin: 20px 0 5px 5px;
	padding: 0 20px;
	border: solid 1px #ccc;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: inset 1px 2px 6px rgba(0, 0, 0, .15);
	white-space: nowrap;
}

.alternate:nth-child(even) {
	background-color: rgba(255, 255, 255, .9);
}

/* Page Rating Module Customizations */
.page-rate-widget-box {
	display: inline-block;
	margin-right: 2em;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}

/* Has increased specificity to override action-area rate's stylesheet */
div.page-rate-widget-box .rate-points {
	border: solid 1px #633;
	border-right: 0;
	border-radius: 5px 0 0 5px;
	background-color: #633;
}

.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown {
	border-top: solid 1px #633;
	border-bottom: solid 1px #633;
	background-color: #fff6f0;
	font-weight: bold;
}

.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a {
	margin: 0 1px;
	padding: 0 4px;
	background: transparent;
	color: #633;
}

.page-rate-widget-box .rateup a:hover,
.page-rate-widget-box .ratedown a:hover {
	background: #633;
	color: #fffff0;
	text-decoration: none;
}

.page-rate-widget-box .cancel {
	border: solid 1px #633;
	border-left: 0;
	border-radius: 0 5px 5px 0;
	background-color: #633;
}

.page-rate-widget-box .cancel a {
	background: transparent;
	color: #966;
	text-transform: uppercase;
}

.page-rate-widget-box .cancel a:hover {
	border-radius: 0 3px 3px 0;
	background: #633;
	color: #fffff0;
	text-decoration: none;
}

/* Fixes for multi-line page tags */
#main-content .page-tags {
	margin: 1em 0 0;
	padding: 0;
}

#main-content .page-tags span {
	display: inline-block;
	padding: 0;
	max-width: 60%;
}

#main-content .page-tags a {
	display: inline-block;
	white-space: nowrap;
}

/* Standard Image Block */
.scp-image-block {
	width: 300px;
	border: solid 1px #666;
	box-shadow: 0 1px 6px rgba(0, 0, 0, .25);
}

.scp-image-block.block-right {
	float: right;
	clear: right;
	margin: 0 2em 1em;
}

.scp-image-block.block-left {
	float: left;
	clear: left;
	margin: 0 2em 1em 0;
}

.scp-image-block.block-center {
	margin-right: auto;
	margin-left: auto;
}

.scp-image-block img {
	width: 300px;
	border: 0;
}

.scp-image-block .scp-image-caption {
	padding: 2px 0;
	width: 300px;
	border-top: solid 1px #666;
	background-color: #eee;
	text-align: center;
	font-weight: bold;
	font-size: 80%;
}

.scp-image-block>p {
	margin: 0;
}

.scp-image-block .scp-image-caption>p {
	margin: 0;
	padding: 0 10px;
}

/* Collapsible Link */
#page-content a.collapsible-block-link {
	overflow-wrap: anywhere;
}

/* Licensebox */
.licensebox .collapsible-block-link {
	margin-left: .25em;
	padding: .25em;
	color: inherit;
	font-weight: bold;
	opacity: .5;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

.licensebox .collapsible-block-link:hover,
.licensebox .collapsible-block-link:active {
	opacity: 1;
}

/* Forum Customizations */
.forum-thread-box .description-block {
	padding: .5em 1em;
	border-radius: 10px;
	box-shadow:
		0 1px 5px rgba(0, 0, 0, .15),
		inset 0 1px 0 rgba(255, 255, 255, .8),
		inset 0 10px 5px rgba(255, 255, 255, .25),
		inset 0 -15px 30px rgba(0, 0, 0, .1);
}

.thread-container .post .head {
	padding: .5em 1em;
	border-radius: 5px 5px 0 0;
	background-color: #eee;
	background-image: linear-gradient(to right, #eee, #eeecec);
	box-shadow: inset 2px 3px 6px rgba(0, 0, 0, .15);
}

/* Adding Forum Lines */
.post-container .post-container {
	padding-left: .75rem;
	border-left: 2px solid rgba(0, 0, 0, .25);
}

/* Hide Forum Signatures */
.signature {
	display: none !important;
}

/* Hide Avatar Hover */
#avatar-hover-container {
	display: none;
}

/* Remove the white border of the avatar from the user info,by BackroomsCN */
#odialog-container .owindow>div.modal-body>img[style*="padding: 2px 8px;"]:first-child {
	background-color: initial !important;
}

/* Resize special content,by BackroomsCN */
.post-container>.post>.long>.content>img,
.post-container>.post>.long>.content>embed,
.post-container>.post>.long>.content>video,
.post-container>.post>.long>.content>object,
.post-container>.post>.long>.content>iframe,
.post-container>.post>.long>.content>table {
	max-width: 100%;
}

/* Adjust the vertical alignment of special content,by BackroomsCN */
.post-container>.post>.long>.content>audio,
.post-container>.post>.long>.content>canvas,
.post-container>.post>.long>.content>iframe,
.post-container>.post>.long>.content>img,
.post-container>.post>.long>.content>svg,
.post-container>.post>.long>.content>video {
	vertical-align: middle;
}

/* Restrict unhidden images,by BackroomsCN */
.thread-container .post .long .content .image:not(.collapsible-block .image) {
	width: 100%;
	max-height: 2em;
	transition: max-height 0.5s;
	object-fit: cover;
}

.thread-container .post .long .content .image:hover:not(.collapsible-block .image) {
	max-height: 100em;
}

/* Limit Forum H1 and H2,by lest-day */
.post-container>.post>.long>.content h1,
.thread-container>.post>.long>.content h1 {
	margin: 0.5em 0 0.4em;
	padding: 0;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 185%;
}

.post-container>.post>.long>.content h2,
.thread-container>.post>.long>.content h2 {
	margin: 0.5em 0 0.4em;
	padding: 0;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 200%;
}

/* Disable Special Formatting Of Discussion Boards,by SCP-CN */
.thread-container .post .content *[style*=position] {
	position: static !important;
}

.thread-container .post .content *:not(img)[style*=background] {
	background-image: none !important;
}

.thread-container .post .content *[style*=margin] {
	margin: 0 !important;
}

.thread-container .post .content *[style*=padding] {
	padding: 0 !important;
}

.thread-container .post .content *[style*=line-through] {
	text-decoration: none !important;
}

/* Infoblock by Eltrac */
.infoblock {
	color: #f1f1f1;
	font-weight: bold;
	background: #424242;
	padding: 5px 5px 5px 5px;
	border-radius: 4px;
	margin: -0.5rem 0 0.5rem 0;
	display: block;
	padding-right: 25px;
}

.infoblock::before {
	content: "ⓘ ";
	font-size: 1rem;
}

/* Ruby by Nanimono Demonai */
.ruby,
ruby {
	display: inline-table;
	height: 1em;
	vertical-align: text-bottom;
	text-align: center;
	white-space: nowrap;
	line-height: 1;
}

.rt,
rt {
	display: table-header-group;
	text-align: center;
	white-space: nowrap;
	font-size: .6em;
	line-height: 1.1;
}

/* Keycap */
.keycap {
	padding: 1px 3px;
	border: 1px solid;
	border-color: #ddd #bbb #bbb #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #f9f9f9;
	white-space: nowrap;
	font-size: .85em;
	font-family: inherit;
	border-bottom-width: 2px;
}

/* tag style */
.tags {
	display: inline-block;
	margin: 0 0 0 5px;
	padding: 3px 5px 3px 0;
	height: 13px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	background: #666;
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	line-height: 13px;
}

.tags::before {
	position: relative;
	top: -3px;
	left: -10px;
	float: left;
	padding: 0 1px 3px;
	width: 0;
	height: 0;
	border-color: transparent #666 transparent transparent;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	content: '';
}

.tags::after {
	position: relative;
	top: 4.5px;
	left: -8px;
	float: left;
	width: 4px;
	height: 4px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #fff;
	-webkit-box-shadow: -1px -1px 2px #333;
	-moz-box-shadow: -1px -1px 2px #004977;
	box-shadow: -1px -1px 2px #333;
	content: '';
}

/* Display Black Block by Nanimono Demonai */
.bblock {
	background-color: #000;
	color: #000;
	text-decoration: none;
	transition: 2s;
}

.bblock:hover {
	background-color: #000;
	color: #060;
	text-decoration: none;
}

.dblock {
	background-color: #000;
	color: #000;
	text-decoration: none;
	transition: 2s;
}

.dblock:hover {
	background-color: transparent;
	text-decoration: none;
}

/* Blockquote Mimic Div */
blockquote,
div.blockquote {
	padding: 0 15px;
	margin: 1em;
	border: 1.2px solid #888;
	border-radius: 12px;
	background-color: transparent;
}

div.curved {
	margin: 1em 3em;
	border-radius: 10px;
}

@media (max-width: 479px) {

	blockquote,
	div.blockquote,
	div.curved {
		margin: 1em 0;
	}
}

@media (min-width: 480px) and (max-width: 580px) {

	blockquote,
	div.blockquote,
	div.curved {
		margin: .5em;
	}
}

/* Fix revision list */
.changes-list-item td.title {
	min-width: 40%;
}

.changes-list-item .flags {
	width: 2em;
	text-align: center;
}

.changes-list-item .mod-date {
	text-align: center;
}

.changes-list-item .mod-by {
	width: 10em;
}

@media (max-width: 435px) {
	.changes-list-item .revision-no {
		display: none;
	}
}

/*
    2011-11-13 Minobe Hiroyuki @ Marguerite Site
    www.marguerite.jp/Nihongo/WWW/CSSTips/EmphasizeDots-CSS3.html
    Edited for the SCP Foundation by Nanimono_Demonai
*/

.emph {
	-webkit-text-emphasis-style: dot;
	text-emphasis-style: dot;
}

/* webkit scrollbar */
::-webkit-scrollbar {
	width: 9px;
	/* for vertical scrollbars */
	height: 9px;
	/* for horizontal scrollbars */
	border: solid 1px rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
	background: rgba(50, 50, 50, .3);
}

.page-source {
	word-break: break-all;
}

/* Responsive Web Design */
img,
embed,
video,
object,
iframe,
table {
	max-width: 100%;
}

#page-content div,
#page-content div table {
	max-width: 100%;
}

#edit-page-comments {
	width: 100%;
}

@media (max-width: 767px) {
	#main-content {
		margin: 0 5%;
		padding: 0;
		max-width: 90%;
		-webkit-transition: .5s ease-in-out .1s;
		-o-transition: .5s ease-in-out .1s;
		transition: .5s ease-in-out .1s;
	}

	span,
	a {
		word-break: break-all;
	}

	.page-history tbody tr td:last-child {
		width: 35%;
	}

	td.name {
		width: 15em;
	}

	.yui-navset {
		z-index: 1;
	}

	#navi-bar,
	#navi-bar-shadow {
		display: none;
	}

	.page-options-bottom a {
		padding: 0 5px;
	}

	.license-area {
		font-size: .9em;
	}

	/* owindow */
	.owindow {
		max-width: 99%;
		min-width: 80%;
	}

	.modal-body .table,
	.modal-body .table~div {
		float: left;
	}

	.owindow .button-bar {
		float: right;
	}

	.owindow div a.btn-primary {
		float: left;
		width: 100%;
	}

	.owindow div .btn-primary~div {
		width: 100%;
	}

	/* header area and top bar */
	#header {
		max-width: 90%;
		background-position: 8px 64%;
		background-size: calc(48px + 5%);
	}

	#header h1,
	#header h2 {
		margin-left: calc(48px + 8%);
	}

	#header h1 a {
		font-size: calc(75% + 2vw);
	}

	#search-top-box-input {
		width: 7em;
	}

	.top-bar {
		display: none;
	}

	.mobile-top-bar {
		display: block;
	}

	.mobile-top-bar ul li:last-of-type ul {
		right: 0;
	}
}

@media (max-width: 479px) {
	#page-content {
		font-size: .9em;
	}

	#recent-posts-category {
		width: 100%;
	}

	.page-options-bottom a {
		padding: 0 4px;
	}

	.license-area {
		font-size: .8em;
	}

	table.form td,
	table.form th {
		float: left;
		padding: 0;
	}

	#edit-page-title {
		max-width: 90%;
	}

	.content-panel.left-column,
	.content-panel.right-column {
		float: left;
		width: 99%;
	}

	#page-content div,
	#page-content div table {
		clear: both;
	}

	#page-content div.title {
		word-break: keep-all;
	}
}

/* Page preview component -- https://scp-wiki.wikidot.com/component:preview */
div.preview {
	display: none;
}

/* Page Form Label,by lest-day */
.form-label {
	display: block;
	width: 68px;
}

.form-value {
	width: 94%;
}

form>.button {
	padding: 0.3rem;
	border-radius: 0.5rem;
	background-color: #DDD;
}

form>.text,
.form-control {
	padding: 0.3rem;
}
